@use "../abstracts";

.about-3 {
  margin-top: 8vh;
  text-align: center;
  h2 {
    font-family: abstracts.$font-oswald;
    font-size: 3rem;
    margin-bottom: 4vh;
  }
  h3 {
    margin-bottom: 4vh;
    font-weight: 500;
    span {
      color: gold;
      font-size: 3rem;
      font-weight: 700;
      padding: 0 1rem;
    }
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 4vh;
  }
}
