@use "../abstracts";
.about-6 {
  padding: 5vh 5vw;
  h3 {
    font-weight: bold;
    text-align: center;
    font-family: abstracts.$font-oswald;
    margin-bottom: 5vh;
  }
  #accordion {
    display: flex;
    .accordion--left {
      flex: 1;
    }
    .accordion--right {
      flex: 1;
    }
  }

  button {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    outline: none;
    i {
      margin-right: 1rem;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 40%;
      margin-bottom: 2rem;
    }
  }
}
