@use "../abstracts";

.home-5 {
  margin-top: 10vh;

  h3 {
    font-family: abstracts.$font-oswald;
    font-size: 2rem;
    text-align: center;
    span {
      color: gray;
      font-size: 1rem;
    }
  }
  .img_gallery {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    &--upper {
      display: flex;
      div {
        flex: 1;
        background-image: url(/GK-Promtoers-version2/images.jpg);
        background-size: cover;
        background-position: center;
        height: 40vh;
      }
    }
    &--lower {
      display: flex;
      div {
        flex: 1;
        background-image: url(/GK-Promtoers-version2/download.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
      }
    }
  }
}
